.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #0e2648;
}

.tab {
    -fx-background-color: #0a192f;
    -fx-background-radius: 5 5 0 0;
    -fx-border-radius: 5 5 0 0;
    -fx-border-width: 1 0.5 0 1;
    -fx-text-fill: #CED9F9;
    -fx-border-color: rgba(206, 217, 249, 0.8);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.tab:hover {
    -fx-background-color: #173a6c;
}

.tab:selected {
    -fx-background-color: #102646;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #CED9F9;
    -fx-font-size: 12px;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}


.root {
    -fx-background-color: #0a192f;
}



.root Button {
    -fx-background-color: #0a192f;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: #CED9F9;
    -fx-border-color: rgba(206, 217, 249, 0.8);
}

.root Button:hover {
    -fx-background-color: #CED9F9;
    -fx-text-fill: #0a192f;
}

.root Button:pressed {
    -fx-background-color: #15345e;
}

.scroll-pane > .viewport {
    -fx-background-color: #172A46;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}


.scroll-pane {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}



.info-pane {
    -fx-border-radius: 10px;
    -fx-background-color: #172A46FF;
    -fx-background-radius: 10px;
}

.info-pane Text {
    -fx-text-fill: #CED9F9;
    -fx-font-weight: 700;
    -fx-font-size: 15;
}

.info-pane .info-pane-title {
    -fx-text-fill: #CED9F9;
    -fx-font-weight: 700;
    -fx-font-size: 25;
    -fx-underline: true;
}

.deck Label {
    -fx-text-fill: #CED9F9;
    -fx-font-weight: 700;
    -fx-font-size: 15px;
}

.deck Text {
    -fx-text-fill: #CED9F9;
    -fx-font-weight: 400;
    -fx-font-size: 15px;
}

.card {
    -fx-fill: #CED9F9FF;
}

.cash-pane {
    -fx-padding: 10;
    -fx-border-radius: 10;
    -fx-background-color: #172A46FF;
    -fx-background-radius: 10;
}

.cash-pane Text {
    -fx-font-weight: 400;
    -fx-font-size: 15px;
}

.add-card-pane {
    -fx-padding: 10;
    -fx-border-radius: 10;
    -fx-background-color: #172A46FF;
    -fx-background-radius: 10;
}

.add-card-pane Label {
    -fx-text-fill: #CED9F9;
    -fx-font-weight: 700;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0.5;
    -fx-border-color: rgba(29, 49, 129, 0.17);
}

.wallet-item-box:hover .wallet-item {
    -fx-fill: #1e4885;
}

.wallet-item-box:hover .card-num {
    -fx-fill: #172A46FF;
}

.notification {
    -fx-fill: #56D3BF;
    -fx-font-weight: 700;
    -fx-font-size: 15;
}

.note-view Label, CheckBox{
    -fx-text-fill: #CED9F9;
}

.note-view TextField, TextArea .content{
    -fx-background-color: #CED9F9;  
}
.note-view TextArea{
    -fx-border-color: black;  
}

.reminder-form Text{
    -fx-text-fill: #CED9F9;
}

.main-view .message-text{
    -fx-fill: #CED9F9;
}
